.fadeInFromBelow {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInFromBelow 1.5s forwards;
}

@keyframes fadeInFromBelow {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}